<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
<div class="ui segment">
    <p>
        Loader 可以翻译成加载器，或者加载工具 .. 它的功能就是告诉用户正在执行的任务需要等一会儿 .. 这里我们先添加一块内容 .. div.ui.segment .. 在它里面添加两个段落内容 .. p .. lorem ..
        然后再把 Loader 放进来 .. 可以用一个 div 元素，再加上 ui 还有 loader 这两个类 .. 默认这个加载器会被隐藏起来 ... 让它显示出来的话，可以在这个 loader 上添加一个 active .. 你会看到在这部分内容的中间会显示这个 loader ..
        或者我们也可以在这部分内容上应用一个 dimmer .. 这个 loader 可以放到这个 dimmer 里面 .. 用一个 div 元素 .. 显示这个 dimmer 也需要用一个 active .. 然后是 dimmer .. 这样我们就可以去掉在 loader 上的这个 active ..
        保存 ... 在内容上会显示一个暗色的半透明的背景 .. 这个就是 dimmer .. 在它上面会显示这个 loader .. 在这个 dimmer 上可以再加上一个 inverted ... 这样会用亮色的半透明背景 .. 复制 .. 在 dimmer 上加一个 inverted ..
    </p>
    <div class="ui active loader">

    </div>
</div>

</body>
</html>